.services-container {
  position: relative;
  top: -80px;
}
.card-service-wrapper {
  height: 300px;
  width: 100%;
  background-color: blue;
}

.card-service-text h5 {
  font-weight: bold;
  color: white;
}
.service-content-text {
  font-size: 14px;
  color: white;
}
